AWS_ACCOUNT  | standard AWS environment variables used by awscli and other tools
AWS_PROFILE  |
AWS_REGION   |

AWS__EFS__LOCAL_MOUNT_POINT  | fully-qualified path to mount the EFS drive

DIRECTUS__API_TOKEN | details for a directus instance
DIRECTUS__BASE_URL  |

DISCORD__BOT_TOKEN          | details for discord bot
DISCORD__CONTENT_HEADER     |
DISCORD__CONTENT_FOOTER     |
DISCORD__DEFAULT_AVATAR_URL |
DISCORD__DEFAULT_CHANNEL_ID |
DISCORD__DEFAULT_USERNAME   |
DISCORD__DEFAULT_WEBHOOK    |

LINEAR__API_TOKEN  | linear.app project management configuration

MEDIA_SYNC__S3_BUCKET | s3 bucket name and filesystem targets for media backups
MEDIA_SYNC__TARGETS   |

REDIS_AUTH  | redis connection credentials
REDIS_HOST  |
REDIS_PORT  |

TWILIO__ACCOUNT_SID        | twilio account / credentials
TWILIO__API_KEY            | 
TWILIO__API_SECRET         | 
TWILIO__DEFAULT_PHONE_FROM | 
TWILIO__DEFAULT_PHONE_TO   | 
